
body {
    background-color: #F0F8FF;
}
#container {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

#container h1, #container p {
    font-family: sans-serif;
    font-weight: bold;
}

#container h1 {
    font-size: 40px;
    color: #9F000F;
    margin-top: 20px;
}

#container p {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
}

#container img {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}